# Node modules
node_modules/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/

# Environment variables (if you use a .env file)
.env

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
